shi() {
    # Use rxvt for systems without tmux terminfo
    old_term=$TERM
    TERM=rxvt
    ssh $@
    TERM=$old_term
}

tmosh() {
	mosh $@ -- tmux
}

venv-activate() {
    . ~/.venvs/${1}/bin/activate
}

{% if dotfiles_aliases %}
alias{% for alias, cmd in dotfiles_aliases.items() %} {{ alias }}="{{ cmd }}"{% endfor %}

{% endif %}
export EDITOR=vim
export PATH={{ dotfiles_paths | join(":") }}
